In [1]:
import pandas as pd

# Iris data

In [2]:
data=pd.read_csv('iris.csv')

In [3]:
df=data.copy()
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
l=set(list(df.variety))
for i in l:
    cnt=df.variety[df.variety==i].count()
    print(cnt,end=" ")

50 50 50

In [5]:
df.columns=['sl','sw','pl','pw','variety']
df=df[df.variety=='Virginica']
df[df.pl>6]

      sl   sw   pl   pw    variety
105  7.6  3.0  6.6  2.1  Virginica
107  7.3  2.9  6.3  1.8  Virginica
109  7.2  3.6  6.1  2.5  Virginica
117  7.7  3.8  6.7  2.2  Virginica
118  7.7  2.6  6.9  2.3  Virginica
122  7.7  2.8  6.7  2.0  Virginica
130  7.4  2.8  6.1  1.9  Virginica
131  7.9  3.8  6.4  2.0  Virginica
135  7.7  3.0  6.1  2.3  Virginica

In [6]:
df=data.copy()
df.columns=['sl','sw','pl','pw','variety']
l=list(set(list(df.variety)))
l.sort()
print(l)
for i in l:
    print(i)
    a=df[df.variety==i]
    print(a.sl.min(),a.sw.min(),a.pl.min(),a.pw.min())
    print(a.sl.max(),a.sw.max(),a.pl.max(),a.pw.max())
    print(a.sl.mean().round(2),a.sw.mean().round(2),a.pl.mean().round(2),a.pw.mean().round(2))

['Setosa', 'Versicolor', 'Virginica']
Setosa
4.3 2.3 1.0 0.1
5.8 4.4 1.9 0.6
5.01 3.43 1.46 0.25
Versicolor
4.9 2.0 3.0 1.0
7.0 3.4 5.1 1.8
5.94 2.77 4.26 1.33
Virginica
4.9 2.2 4.5 1.4
7.9 3.8 6.9 2.5
6.59 2.97 5.55 2.03


# Terrorism Data

In [7]:
d=pd.read_csv('terrorismData.csv')
df=d.copy()
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [8]:
# which city in Jammu and Kashmir has the maximum attacks
a=df[df.State=='Jammu and Kashmir']
l=list(a.City)
d={}
for i in l:
    if i not in d.keys():
        d[i]=1;
    else:
        d[i]+=1;
d_v=list(d.values())
d_k=list(d.keys())
max_attacks=max(d_v)
dan_place=d_k[d_v.index(max_attacks)]
print(f"most dangerous place--> '{dan_place}' with the maximum number of attacks --> {max_attacks}")

most dangerous place--> 'Srinagar' with the maximum number of attacks --> 657

In [9]:
# country with the maximum number of terror attacks
l=list(df.Country)
d={}
for i in l:
    if i not in d.keys():
        d[i]=1;
    else:
        d[i]+=1;
#print(d)
d_v=list(d.values()) # count of the number of attacks
d_k=list(d.keys()) # in which country
max_attacks=max(d_v)
dan_country=d_k[d_v.index(max_attacks)] # dangerous country
print(f"most dangerous country--> '{dan_country}' with the maximum number of attacks --> {max_attacks}")

most dangerous country--> 'Iraq' with the maximum number of attacks --> 24636

In [10]:
# country with the maximum number of terror attacks occured in which year?
# Let's consider the data for that particular country
b=df[df.Country==dan_country]
l=list(b.Year)
d={} # key --> Year value--> count
for i in l:
    if i not in d.keys():
        d[i]=1; 
    else:
        d[i]+=1;
print(d)
d_v=list(d.values()) # count of the number of attacks
d_k=list(d.keys()) # in which year
max_attacks=max(d_v)
year=d_k[d_v.index(max_attacks)] # dangerous country
print(f"most dangerous country--> '{dan_country}' with the maximum number of terror attacks --> {max_attacks} in year {year}")

{1975: 1, 1976: 3, 1979: 2, 1980: 6, 1981: 3, 1982: 5, 1983: 3, 1984: 2, 1987: 3, 1988: 4, 1989: 4, 1991: 3, 1992: 35, 1994: 18, 1995: 17, 1996: 12, 1997: 21, 1998: 7, 1999: 12, 2000: 10, 2001: 3, 2002: 6, 2003: 102, 2004: 323, 2005: 617, 2006: 838, 2007: 1047, 2008: 1106, 2009: 1137, 2010: 1179, 2011: 1308, 2012: 1437, 2013: 2852, 2014: 3933, 2015: 2751, 2016: 3360, 2017: 2466}
most dangerous country--> 'Iraq' with the maximum number of terror attacks --> 3933 in year 2014

In [11]:
# Find deadliest attack(maximum number of people killed), which Country, Terrorist_Group ?

In [12]:
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
State            421
Region             0
City             434
Latitude        4556
Longitude       4557
AttackType         0
Killed         10313
Wounded        16311
Target           636
Summary        66129
Group              0
Target_type        0
Weapon_type        0
dtype: int64

In [13]:
a=df.dropna() # This will remove the rows with NaN entries because here it is the best consideration to ignore data which is not known
a.reset_index(drop=True,inplace=True)
l=list(a.Country)
d={} # key --> Country || value--> count of no. of people killed
for i in l:
    if i not in d.keys():
        c=a[a.Country==i] # this will create the data for that country
        cnt=c.Killed.count()
        d[i]=cnt; 
print(d)
d_v=list(d.values()) # count of the number of people killed
d_k=list(d.keys()) # in which country
max_killed=max(d_v)
country=d_k[d_v.index(max_killed)] # dangerous country
print(f" country--> '{country}' with the maximum number of people killed --> {max_killed}")

{'United States': 1715, 'Poland': 8, 'United Kingdom': 1210, 'Italy': 133, 'France': 497, 'Switzerland': 21, 'Israel': 1137, 'Austria': 24, 'Belgium': 33, 'Brunei': 5, 'Zaire': 3, 'Argentina': 29, "People's Republic of the Congo": 1, 'Jordan': 46, 'Cambodia': 31, 'Australia': 52, 'Portugal': 3, 'India': 8683, 'Sri Lanka': 870, 'Netherlands': 28, 'Nigeria': 2795, 'Guyana': 11, 'Sweden': 85, 'Bangladesh': 1058, 'New Zealand': 12, 'Lebanon': 618, 'Spain': 480, 'Maldives': 20, 'Canada': 58, 'Philippines': 4771, 'Azerbaijan': 18, 'Algeria': 1430, 'South Africa': 148, 'Turkey': 1857, 'Germany': 220, 'Uganda': 177, 'Ethiopia': 87, 'Malta': 6, 'Burundi': 359, 'Russia': 1869, 'Iraq': 23023, 'West Bank and Gaza Strip': 1284, 'Rwanda': 39, 'Greece': 596, 'Pakistan': 12206, 'Bulgaria': 20, 'Thailand': 3335, 'Japan': 44, 'Slovak Republic': 5, 'Chad': 52, 'Colombia': 2121, 'Georgia': 127, 'Peru': 75, 'Sierra Leone': 26, 'Angola': 92, 'Yugoslavia': 94, 'Chile': 95, 'Hungary': 9, 'Egypt': 1946, 'Ireland': 173, 'Latvia': 9, 'Somalia': 2949, 'Macau': 6, 'China': 128, 'Albania': 20, 'Kenya': 548, 'Venezuela': 57, 'Iran': 152, 'Mexico': 118, 'Macedonia': 106, 'Tajikistan': 39, 'Armenia': 14, 'Yemen': 2782, 'Bosnia-Herzegovina': 46, 'Tanzania': 45, 'Democratic Republic of the Congo': 564, 'Afghanistan': 11609, 'Haiti': 31, 'Ecuador': 35, 'Senegal': 35, 'Indonesia': 568, 'Cyprus': 26, 'Swaziland': 7, 'Brazil': 27, 'Uzbekistan': 18, 'Sudan': 633, 'Zambia': 18, 'Nepal': 1100, 'Paraguay': 75, 'Panama': 4, 'Belarus': 10, 'Estonia': 5, 'Mozambique': 131, 'Solomon Islands': 4, 'Kosovo': 182, 'Republic of the Congo': 9, 'Myanmar': 289, 'Ukraine': 1550, 'Namibia': 24, 'Liberia': 10, 'Fiji': 8, 'Kyrgyzstan': 28, 'Denmark': 9, 'Nicaragua': 4, 'Niger': 99, 'Guatemala': 19, 'Belize': 2, 'East Timor': 7, 'Malaysia': 56, 'Laos': 15, 'Croatia': 11, 'Zimbabwe': 26, 'Hong Kong': 5, 'Saudi Arabia': 309, 'Gambia': 1, 'Central African Republic': 201, 'Guinea': 13, 'Qatar': 4, 'Kazakhstan': 19, 'Ivory Coast': 50, 'Moldova': 4, 'Slovenia': 1, 'St. Lucia': 1, 'Norway': 8, 'South Korea': 5, 'Vietnam': 6, 'Guinea-Bissau': 8, 'Montenegro': 5, 'Kuwait': 9, 'Taiwan': 10, 'Costa Rica': 1, 'Czech Republic': 21, 'Tunisia': 90, 'Madagascar': 13, 'Honduras': 16, 'Malawi': 2, 'International': 1, 'Turkmenistan': 2, 'Serbia-Montenegro': 11, 'Bahrain': 160, 'Morocco': 11, 'Bolivia': 9, 'Djibouti': 2, 'Syria': 1452, 'Mauritania': 10, 'Togo': 1, 'Trinidad and Tobago': 7, 'Uruguay': 2, 'Lesotho': 3, 'Bhutan': 4, 'Libya': 1900, 'Cuba': 1, 'Mali': 447, 'Western Sahara': 1, 'Jamaica': 4, 'Eritrea': 4, 'Finland': 15, 'Serbia': 12, 'Romania': 1, 'Cameroon': 233, 'Equatorial Guinea': 1, 'United Arab Emirates': 5, 'Iceland': 2, 'South Sudan': 171, 'Burkina Faso': 44, 'Dominican Republic': 3, 'Bahamas': 1, 'Ghana': 2, 'Gabon': 4, 'Papua New Guinea': 7}
 country--> 'Iraq' with the maximum number of people killed --> 23023

In [14]:
b=a[a.Country==country]
l=list(b.AttackType)
d={} # key --> AttackType || value--> count of this AttackType
for i in l:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
print(d)
d_v=list(d.values()) # count of the number of people killed
d_k=list(d.keys()) # in which country
max_times=max(d_v)
Attacktype=d_k[d_v.index(max_times)] # dangerous country
print(f" country--> '{country}' with the maximum attack  by --> {Attacktype}  {max_times}times")
c=b[b.AttackType==Attacktype]
cnt=c.Killed.sum()
print(f"and in that total number of people killed are {cnt}")

{'Bombing/Explosion': 17622, 'Assassination': 1219, 'Hostage Taking (Kidnapping)': 484, 'Armed Assault': 2940, 'Unknown': 590, 'Facility/Infrastructure Attack': 135, 'Hijacking': 8, 'Unarmed Assault': 5, 'Hostage Taking (Barricade Incident)': 20}
 country--> 'Iraq' with the maximum attack  by --> Bombing/Explosion  17622times
and in that total number of people killed are 49613.0

# Filtering the data by applying multiple condition using loc

In [15]:
# Total number of attacks done after 14 May,2014

In [16]:
a=a.loc[((a['Year']==2014) & (a['Month']==5) & (a['Day']>=14) & (a['Country']=='India')) | ((a['Year']>=2014) & (a['Month']>=6) & (a['Country']=='India'))]
a

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
61030,2014,5,14,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Unknown,05/14/2014: An explosive device was discovered...,Unknown,Unknown,Explosives
61031,2014,5,14,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Development Agency Engineer,05/14/2014: Assailants threw a grenade at the ...,Unknown,Government (General),Explosives
61035,2014,5,14,India,Odisha,South Asia,Malkangiri district,18.343586,81.882528,Bombing/Explosion,0.0,0.0,Camp,05/14/2014: Assailants detonated an explosive ...,Maoists,Military,Explosives
61037,2014,5,14,India,Manipur,South Asia,Taikhang,24.596055,93.368230,Armed Assault,0.0,2.0,Patrol,05/14/2014: Assailants attacked a military foo...,People's Liberation Army (India),Military,Firearms
61039,2014,5,14,India,Chhattisgarh,South Asia,Bastar district,19.107470,81.969164,Facility/Infrastructure Attack,0.0,0.0,Freight Train,05/14/2014: Assailants attacked railway tracks...,Maoists,Transportation,Sabotage Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105546,2017,12,30,India,Kerala,South Asia,Koothuparamba,11.831902,75.565432,Bombing/Explosion,0.0,0.0,Koothuparamba Police Station,12/30/2017: Assailants threw an explosive devi...,Unknown,Police,Explosives
105548,2017,12,30,India,Chhattisgarh,South Asia,Toylanka,18.802725,81.497666,Facility/Infrastructure Attack,0.0,0.0,Road Construction Site,12/30/2017: Assailants set fire to seven vehic...,Communist Party of India - Maoist (CPI-Maoist),Business,Firearms
105553,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives
105565,2017,12,31,India,Assam,South Asia,Hungrum,25.180162,93.015788,Hostage Taking (Kidnapping),0.0,0.0,Personal Security Officer of Council Member Ih...,12/31/2017: Assailants abducted Prafulla Phuka...,Zeliangrong United Front,Government (General),Firearms
105570,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives

In [17]:
l=list(a.AttackType)
d={} # key --> AttackType || value--> count of this AttackType
for i in l:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
print(d)
d_v=list(d.values()) # count of the number of people killed
d_k=list(d.keys()) # in which country
max_times=max(d_v)
Attacktype=d_k[d_v.index(max_times)] # dangerous country
print(f" country--> 'India' with the maximum attack  by --> {Attacktype}  {max_times}times")
c=a[a.AttackType==Attacktype]
cnt=c.Killed.sum()
print(f"and in that total number of people killed are {cnt}")

{'Bombing/Explosion': 838, 'Armed Assault': 466, 'Facility/Infrastructure Attack': 278, 'Hostage Taking (Kidnapping)': 230, 'Assassination': 103, 'Unknown': 43, 'Unarmed Assault': 36, 'Hostage Taking (Barricade Incident)': 14, 'Hijacking': 3}
 country--> 'India' with the maximum attack  by --> Bombing/Explosion  838times
and in that total number of people killed are 157.0

In [19]:
a[a.AttackType==Attacktype].Killed.sum()

157.0